body {
  margin: 0;
  font-family: Arial, sans-serif;
}
a{
  text-decoration: none;/*Pour que le lien ne soit plus "souligné"...*/
  color: white; /*ça reste un exemple*/
}

.menu {
  background-color: #f2f2f2;
  text-align: center;
  position: sticky;
  top: 0;
}

.menu button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu button:hover {
  background-color: #2980b9;
}

.content {
  padding: 20px;
  margin: 2%; /* Pour éviter que le contenu soit caché sous le menu */
}

/* Style pour la grille des graphiques */
.chart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
  gap: 2%; /* Espacement entre les colonnes */
}

/* Style pour chaque conteneur de graphique */
.chart-container {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Style pour les titres des graphiques */
.chart-title {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Appliquer le style aux deux graphiques */
#myPieChartOS,
#myPieChartCommunication {
  width: 60%;
  height: auto;
  display: block;
}


.option{
  padding : 1%;
}